<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">


    <div class="panel panel-primary">
        <div class="panel-body">
            <h4>Write A Diary</h4>
            <form method="POST" id="diary" action="/diary_create">
                <div class="input-group diary-padding">

                    <input type="text" class="form-control" placeholder="title" name="title"style="width: 810px;">
                    </div>


                <div class="input-group diary-padding">
                    <textarea type="text" class="form-control" placeholder="content" name="content" form="diary" style="height:501px ;width:810px"></textarea>


                </div>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Publish</button>
                </span>
            </form>
        </div>
    </div>

</@layout.myLayout>