<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">


        <div class="panel panel-primary" style="padding: 1%;">
            <div class="panel-body" style="display: inline-block; padding: 10px;">
                <div class="media">
                    <div class="media-middle" style="text-align: left;">
                        <h1>${diary.title}</h1>
                        <h2>${diary.content}</h2>
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> ${diary.timestamp}
                    </div>
                </div>
            </div>
        </div>


</@layout.myLayout>