<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">

    <div class="panel panel-primary panel-shadow">
        <div class="panel-body">
            <a href="/profile/view"><div class="img-responsive img-circle center-block profile-avatar" <#noescape>style="background-image: url(/assets/img/general/${profile.author.id}.jpg)"></#noescape></div></a>

            <h2 class="text-center">
                ${target.full_name}
            </h2>
            <h6 class="text-center">
                ${target.status}
            </h6>
            <nav>
                <ul class="pager">
                    <#if relation.relation_type == 3>
                        <li><a href="/friends/add/${relation.user_b.username}">Send request</a></li>
                    </#if>
                    <#if relation.relation_type == 1 && disable_add == false>
                        <li><a href="/friends/accept/${relation.id}">Accept request</a></li>
                    </#if>
                    <li><a href="#">Block</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="panel panel-primary" style="padding: 5%;">
        <#list fof as user>
            <div class="panel-body" style="display: inline-block; padding: 10px;">
                <div class="media">
                    <div class="media-middle" style="text-align: center;">
                        <h4>${user.full_name}</h4>
                        <a href="/profile/view/${user.id}">
                            <img class="media-object img-rounded avatar-48" src="/assets/img/general/${user.id}.jpg"
                                 alt="Profile picture">
                        </a>
                    </div>
                </div>
            </div>
            <#else>
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    All of me loves all of you.
                </div>
        </#list>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body profile-info">
                    <span class="col-sm-2 profile-label">Birthday:</span><span class="col-sm-10">${profile.birthday}</span>
            <span class="col-sm-2 profile-label">Gender:</span><span class="col-sm-10">${profile.gender}</span>
            <span class="col-sm-2 profile-label">Hobby:</span><span class="col-sm-10">${profile.hobby}</span>
            <span class="col-sm-2 profile-label">Marital Status:</span><span class="col-sm-10">${profile.marital_status}</span>
            <span class="col-sm-2 profile-label">Work Place:</span><span class="col-sm-10">${profile.work_place}</span>
            <span class="col-sm-2 profile-label">Fun Facts:</span><span class="col-sm-10">${profile.helper}</span>
        </div>
    </div>
    <#if relation.relation_type == 2>
        <#list posts as post>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="/profile">
                                <img class="media-object img-rounded avatar-64" src="/assets/img/general/${profile.author.id}.jpg">                            </a>
                        </div>
                        <div class="media-body">
                            <h4>${post.author.full_name}</h4>

                            <p>${post.content}</p>

                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> ${post.timestamp}
                            <#list comments as comment>
                                <#if comment.post_id == post.id>
                                    <div class="media" id="comment_${comment.id}">
                                        <div class="media-left media-middle">
                                            <a href="/profile/view/${comment.author.id}">
                                                <img class="media-object img-rounded avatar-64" src="/assets/img/general/${comment.author.id}.jpg">                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4>${comment.author.full_name}</h4>
                                            <p>${comment.content}</p>
                                        </div>
                                    </div>
                                </#if>
                            </#list>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <form method="POST" action="/post/comment">
                        <input type="hidden" name="post" value="${post.id}">
                        <input type="hidden" name="returnto" value="/profile/view/${relation.user_b.username}">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Write a comment..." name="content">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                </span>
                        </div>
                    </form>
                </div>
            </div>
        </#list>
        <#list diary as diary>
            <div class="panel panel-primary" style="padding: 1%;">
                <div class="panel-body" style="display: inline-block; padding: 10px;">
                    <div class="media">
                        <div class="media-left">
                            <a href="/profile/view/${diary.author.id}">
                                <img class="media-object img-rounded avatar-64" src="/assets/img/general/${diary.author.id}.jpg">                            </a>
                            <h4>${diary.author.full_name}</h4>
                        </div>
                        <div class="media-middle" style="text-align: left;">
                            <a href="/diary/${diary.id}">
                                <h3>${diary.title}</h3>
                            </a>
                            <h4>${diary.content}</h4>


                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> ${diary.timestamp}
                            <#list diarycomments as diarycomment>
                                <#if diarycomment.diary_id == diary.id>
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <a href="/profile/view/${diarycomment.author.id}">
                                                <img class="media-object img-rounded avatar-64" src="/assets/img/general/${diary.author.id}.jpg">                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4>${diarycomment.author.full_name}</h4>
                                            <p>${diarycomment.content}</p>
                                        </div>
                                    </div>
                                </#if>
                            </#list>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">
                    <form method="POST" action="/diary/comment">
                        <input type="hidden" name="diary" value="${diary.id}">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Write a comment..." name="content">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                </span>
                        </div>
                    </form>
                </div>
            </div>
        </#list>
    </#if>




</@layout.myLayout>