<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">

    <div class="panel panel-primary panel-shadow">
        <div class="panel-body">
            <a href="/profile/view"><div class="img-responsive img-circle center-block profile-avatar" <#noescape>style="background-image: url(/assets/img/general/${profile.author.id}.jpg)"></#noescape></div></a>
            <h2 class="text-center">
                ${user.full_name}
            </h2>
            <h6 class="text-center">
                ${user.status}
            </h6>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <div class="panel panel-primary">
                        <div class="panel-body profile-info">
                            <span class="col-sm-2 profile-label">Birthday:</span><span class="col-sm-10">${profile.birthday}</span>
                            <span class="col-sm-2 profile-label">Gender:</span><span class="col-sm-10">${profile.gender}</span>
                            <span class="col-sm-2 profile-label">Hobby:</span><span class="col-sm-10">${profile.hobby}</span>
                            <span class="col-sm-2 profile-label">Marital Status:</span><span class="col-sm-10">${profile.marital_status}</span>
                            <span class="col-sm-2 profile-label">Work Place:</span><span class="col-sm-10">${profile.work_place}</span>
                            <span class="col-sm-2 profile-label">Fun Facts:</span><span class="col-sm-10">${profile.helper}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</@layout.myLayout>