<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">

    <div class="panel panel-primary panel-shadow">
        <div class="panel-body">
            <a href="/profile/view"><div class="img-responsive img-circle center-block profile-avatar" <#noescape>style="background-image: url(/assets/img/general/${profile.author.id}.jpg)"></#noescape></div></a>
            <h2 class="text-center">
                ${user.full_name}
            </h2>
            <h6 class="text-center">
                ${user.status}
            </h6>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <h2>${profile.birthday}</h2>
                    <h3>${profile.gender}</h3>
                    <h3>${profile.hobby}</h3>
                    <h3>${profile.marital_status}</h3>
                    <h3>${profile.work_place}</h3>
                    <h3>${profile.helper}</h3>

                </div>
            </div>
        </div>
    </div>


</@layout.myLayout>