<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">


        <div class="panel panel-primary" style="padding: 1%;">
            <div class="panel-body" style="display: inline-block; padding: 10px;">
                <div class="media">
                    <div class="media-middle" style="text-align: left;">

                        </a>
                        <p><a href="../view/${diary.author.id}"><strong>${diary.author.id}</strong></a> wrote on ${diary.timestamp}</p>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="display: inline-block; padding: 10px;">
                <div class="media">
                    <div class="media-middle" style="text-align: left;">
                        <h1>${diary.title}</h1>
                        <h4>${diary.content}</h4>
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> ${diary.timestamp}
                        <#list diarycomments as diarycomment>
                            <#if diarycomment.diary_id == diary.id>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="/profile/view/${diarycomment.author.id}">
                                            <img class="media-object img-rounded avatar-64" src="/assets/img/general/${diarycomment.author.id}.jpg">                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4>${diarycomment.author.full_name}</h4>
                                        <p>${diarycomment.content}</p>
                                    </div>
                                </div>
                            </#if>
                        </#list>
                    </div>
                    <div class="panel-footer">
                        <form method="POST" action="/diary/comment">
                            <input type="hidden" name="diary" value="${diary.id}">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Write a comment..." name="content">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                                    </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>


</@layout.myLayout>